.registration_root {
	padding: 50px;
	border: 1px solid #dedede;
	margin: 50px auto;
}

.registrationPage {
	width: 90vw;
	max-width: 500px;
	margin: 0 auto;
}

.registration_field {
	margin-bottom: 20px !important;
}

.registration_title {
	text-align: center !important;
	font-weight: bold !important;
	margin-bottom: 30px !important;
}

.registration_avatar {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}
