@media (min-width: 961px) {
    .homePage {
        display: flex;
        justify-content: space-between;
    }
    .homePage__posts {
        width: 65%;
    }
    .homePage__sides {
        width: 30%;
    }
}

@media (max-width: 960px) {
    .homePage {
        display: flex;
        flex-direction: column-reverse;
    }
    .homePage__posts, .homePage__sides {
        width: 100%;
    }
}

@media (min-width: 640px) and (max-width: 960px) {
	.homePage__sides {
        display: flex;
        justify-content: space-between;

    }
    .homePage__tags, .homePage__comments {
		width: 48%
	}
}

.activeTag {
    display: inline-block;
	font-size: 18px;
	margin: 15px 0 ;
	background-color: rgba(67, 97, 238, 0.4);
	border-radius: 3px;
	padding: 5px 10px;
}